body {
    background-color: #709ddb54;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.gallery {
    border: 1px solid rgb(126, 124, 124);

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgba(20, 133, 209, 0.979);
    color: white;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.title {
    text-align: center;
    font-size: 66px;
}

.center {
    text-align: center;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

div.footer{
    flex-direction: row;
    font-size: 24px;
    height: 60px;
    position: absolute;
    bottom: 25px;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/*Tic-Tac-Toe*/

div.middle{
    border-radius: 30px;
    padding: 20px;
    margin: 15px 60px;
    background-color: rgba(0,0,0,0.7);
    width: 65%;
    justify-content: center;
}

div.board {
    width: 306px;
    height: 306px;
    margin: 20px auto;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 100px);
    grid-gap: 3px;
    display: grid;
    border: 1px solid
}
div.box {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem
}

.button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.color {
    border-color: #2196F3;
    color: dodgerblue
}
.color:hover {
    background: #2196F3;
    color: white;
}